*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: AktivGroteskW01-Medium , sans-serif;
    background-color: #f6e3c0;
    color: brown;

}

h1 , h2 , h3 , h4 , h5 , h6 , a{
    font-family: Recoleta , sans-serif;
}

#header{
    padding: 14px 20px 20px;
}

a{
    display: inline-block;
    text-decoration: unset;
    color: unset;
    transition: .2s;

}

a:hover{
    letter-spacing: 5px;
}

*:first-letter{
    text-transform: uppercase;
}
.header-items{
    display: inline-block;
    margin-left: 15px;
}

#header-list{
    position: absolute;
    top: 27px;
    right: 30px;
}

#pp{
    font-family: Recoleta , sans-serif;
    margin: 40px;
}

#line{
    margin: 45px;
    border-color: brown;
    outline-color: brown;
    color: brown;
}

#logo{
    width: 250px;
}

#footer{
    font-family: Recoleta , sans-serif;
    margin: 25px;
}

#respond {
    margin: 20px;
    font-family: Recoleta , sans-serif;
}

#respond input[type='text'],
#respond input[type='email'],
#respond textarea {
    margin-bottom: 10px;
    display: block;
    width: 100%;

    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    line-height: 1.4em;
}

#bib{
    color: brown;
    font-family: Recoleta , sans-serif;
    border-color: brown;
    background-color: #f6e3c0;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    line-height: 1.4em;
}