* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: AktivGroteskW01-Medium, sans-serif;
    background-color: #dcc9a3;
    color: brown;
}

h1, h2, h3, h4, h5, h6, a {
    font-family: Recoleta, sans-serif;
}

#header {
    padding: 14px 20px 20px;
}

a {
    display: inline-block;
    text-decoration: unset;
    color: unset;
    transition: .2s;

}

a:hover {
    letter-spacing: 5px;
}

*:first-letter {
    text-transform: uppercase;
}

.header-items {
    display: inline-block;
    margin-left: 15px;
}

#header-list {
    position: absolute;
    top: 27px;
    right: 30px;
}

#pp {
    font-family: Recoleta, sans-serif;
    margin: 40px;
}

#line {
    margin: 45px;
    border-color: brown;
    outline-color: brown;
    color: brown;
}

#logo {
    width: 250px;
}

#footer {
    font-family: Recoleta, sans-serif;
    margin: 25px;
}

#goal {
    font-family: Recoleta, sans-serif;
}

#dude {
    margin: 45px;
    border-color: brown;
    outline-color: brown;
    color: brown;
}